<!DOCTYPE html>
<html lang="si">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/styles.css" />
</head>
<body class="d-flex flex-column">
  <header>
    <nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <div class="navbar-brand d-flex gap-3 m-auto">
          <img src="img/icons/32x32.webp" height="32" alt="">
          <strong class="text-white h4 mb-0">පොකැට්</strong>
        </div>
      </div>
    </nav>
  </header>

  <main class="container" id="app"></main>

  <footer class="footer py-3 bg-dark">
    <div class="container text-light text-center">
      <strong>Pokaet - v{{ VERSION }}</strong>
      <br>
      <small class="d-none d-sm-inline">Copyright 2019 - <a href="https://sudaraka.org/" class="external-link" tabindex="-1" target="_new_win">Sudaraka Wijesinghe</a> - BSD 2-Clause license - <a href="https://gitlab.com/sudarakaw/pokaet-app" class="external-link" tabindex="-1" target="_new_win">source</a>.</small>
    </div>
  </footer>

  <script src="js/app.js"></script>
  <script src="js/init.js"></script>
</body>
</html>
