// src/styles.sass: custom styles for pokaet app
//
// Copyright 2019 Sudaraka Wijesinghe <sudaraka@sudaraka.org>
//
// This program comes with ABSOLUTELY NO WARRANTY
// This is free software, and you are welcome to redistribute it and/or modify
// it under the terms of the BSD 2-clause License. See the LICENSE file for more
// details.
//

:root, [data-bs-theme=light]
  --bs-dark-rgb: 72, 60, 50
  --bs-link-color-rgb: 42, 186, 102
  --bs-link-hover-color-rgb: 46, 204, 113
  --bs-border-color: #CCD1D9

a
  text-decoration: none

body
  height: 100vh
  padding: 75px 0 56px

header
  --bs-white-rgb: 224, 195, 65

footer
  --bs-light-rgb: 224, 195, 65
  position: fixed
  bottom: 0
  width: 100%
  z-index: 1030

main.container
  --bs-body-color: #3C3B3D

  .input-group
    & > *
      flex-grow: 0
      flex-shrink: 0

    .input-group-text
      display: block
      text-align: right
      font-weight: bold

    & > label
      --bs-tertiary-bg: #E6E9ED
      width: 30%

    & > input
      width: 20%
      text-align: right
      border-left: 0
      border-right: 0

    & > div
      width: 40%
      border-right: 0

    & > button.btn
      width: 10%
      --bs-btn-color: #D8334A
      --bs-btn-border-color: var(--bs-border-color)
      border-left: 0

      &:hover, &:focus
        --bs-btn-hover-color: #FFF
        --bs-btn-hover-border-color: #D8334A
        --bs-btn-hover-bg: #D8334A
        font-weight: bold

      &:disabled
        --bs-btn-disabled-color: #AAB2BD
        --bs-btn-disabled-border-color: var(--bs-border-color)

.result
  display: grid
  grid-template-columns: auto 40px
  grid-gap: 1rem
  align-content: center
  padding: 0 .55rem
  min-height: 80px
  background-color: #F6BB42

  &.empty
    grid-template-columns: auto
    background-color: #5D9CEC
    opacity: .8

    h1
      font: #3C3B3D
      text-align: center
      font-weight: normal
      font-style: italic
      font-size: 1rem
      white-space: normal

  h1
    color: #463C32
    text-align: right
    font-weight: bold
    font-size: 2.5rem
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    margin: 0

  button.btn
    --bs-btn-color: #D8334A
    font-size: 1.25rem
